/* 
	font-family: 'Inter Tight', sans-serif;
 */

/* Global CSS */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Inter Tight', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}

/*======= banner========= */

.banner{
       position: relative;
}
.banner img{
         width: 100%;
}
.banner_content{
        position: absolute;
        top: 55%;
        left: 20%;
}
.banner_content h1{
    color: #FFFFFF;
    font-size: 50px;
}
.banner_content h3{
    color: #FFFFFF;
    font-size: 37px;
    margin: 12px 0 0px;
}
.banner_content p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 3px;
}

                    /*======= banner========= */

                /*======= rotate-section ========= */

.rotate-section{
	width: 99.9%;
	margin-top: -122px;
}
marquee{
       width: 100%;
       background-color: #000;
       padding: 30px 0;
       color: #FFFFFF;
       font-size: 50px;
       font-style: italic;
       word-spacing: 300px;
       
}
.rotate {
	background-color: #000;
	transform: rotate(-1deg);
	display: flex;
	justify-content: space-around;
}

           /*======= rotate-section ========= */

           /*======= feature-section ========= */
.feature_Section{
            
}
.parent_div1{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.parent_div2{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.parent_div3{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.feature_item1{
          width: 65%;
}
.feature_item2 {
    width: 35%;
}
.feature_item3{
    width: 35%;
}
.feature_item4{
    width: 65%;
}
.feature_item5{
    width: 75%;
}
.feature_item6{
    width: 25%;
}
.feature_item2 img{
    width: 75%;
    margin-top: 38px;
}
.feature_item3 img{
    width: 65%;
    margin-top: 45px;
}
.feature_item6 img{
    width: 70%;
    margin-top: 45px;
    padding-left: 82px;
}
.feature_content{
          text-align: center;
          background:#D6D9D6;
          padding: 40px 0;
          border-radius: 10px;
          margin-bottom: 40px;
          margin-top: 45px;
      }
.feature_content h1{
          color: #000;
          font-weight: 700;
          padding-bottom: 15px;
          text-align: justify;
          padding-left: 35px;
          margin-top: 58px;
          font-size: 30px;
}
.feature_content p{
          color: #000;
          font-size: 16px;
          font-weight: 400;
          margin-top: 3px;
          word-spacing: 3px;
          text-align: justify;
          padding-left: 35px;
}
      
      /*======= feature-section ========= */

                      /*======= rotate-again ========= */

.rotate_again{
	width: 99%;
	padding-left: 13px;
	margin-top: 40px;
}
.rotate_again h3{
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rotate2 {
	background-color: #000;
	transform: rotate(-3deg);
	display: flex;
	justify-content: space-around;
}

           /*======= rotate-again ========= */

           /*======= feature-again ========= */
.feature_again{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 75px;
}
.feature_item7{
            width: 20%;
}
.feature_item8{
            width: 80%;
}
.feature_item9{
    width: 75%;
}
.feature_item10{
    width: 20%;
}
.feature_item7 img{
    width: 93%;
    margin-top: 45px;
}
.feature_item10 img{
    width: 93%;
    margin-top: 45px;
}
                      /*======= feature-again ========= */

                      /*======= footer-section ========= */
footer{
      background-color: #000;

}
footer h1{
    color: #FFFFFF;
    font-weight: 800;
    padding-left: 15%;
    padding-top: 3%;
    padding-bottom: 2px;
    font-size: 50px;
}
footer h5{
    color: #FFFFFF;
    font-weight: 400;
    padding-left: 15%;
    padding-bottom: 2%;
    font-size: 18px;
}
                       /*======= footer-section ========= */